@font-face {
    font-family: 'Menomonia';
    src: url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot');
    src: url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot?#iefix') format('embedded-opentype'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.woff') format('woff'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.ttf') format('truetype'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.svg#MenomoniaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, #gw2map{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 15px;
	background-color: black;
}

#gw2map{
	z-index: 1;
}

#map_loading{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    width: 300px;
    height: 200px;
    z-index: 0;
    font-family: 'Menomonia';
    text-align: center;
    vertical-align: center;
}

#map_loading_title{
	font-size: 1.5em;
    color: #FC7;
}

#map_loading_subtitle{
	color: white;
	font-size: 1.0em;
}

#hover_window{
	display: none;
    background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.8);
	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 2px;

	color: #FC7;
	padding: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	border-radius: 2px;
	white-space: nowrap;
	font-family: 'Menomonia';

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

#map_title{
	position: absolute;
	left: 50%;
	top: 5px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

#map_title_inner{
    background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.8);
	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 2px;

	padding: 5px 20px;
	z-index: 900;
	border-radius: 2px;
	position: relative;
	left: -50%;
}

#map_title_content{
	white-space: nowrap;
	font-family: 'Menomonia';
	color: #FC7;
	font-size: 1.3em;
}

#map_controls{
	min-width: 150px;
	background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.8);
	padding:  4px 10px;

	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.8);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 2px;

	color: white;
	font-family: 'Menomonia';

	position: fixed;
	top: 60px;
	left: 0px;
	z-index: 900;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
	display: none;
}
#map_controls_title{
	color: #FC7;
	font-size: 1.2em;
	white-space: nowrap;
}

#map_controls_subtitle{
	color: white;
	font-style: italic;
	font-size: 0.9em;
	margin-bottom: 10px;
	padding-left: 5px;
}

#map_controls_edit{
	display: none;
	margin-left: 5px;
	vertical-align: top;\
	cursor: pointer;
}

#map_controls_error{
	display: none;
	color: #C00;
	font-style: italic;
}

#dialog_window{
	position: fixed;
	width: auto;
	height: auto;
	display: none;
	
	color: white;
	font-family: 'Menomonia';
	z-index: 9999;
	top: 0px;
	left: 0px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0,0,0);
    border-color: rgba(0,0,0,0.8);
}

#dialog_title_bar{
	background-color: rgb(79,41,37);
    background-color: rgba(79,41,37,0.9);
    width: 100%;
    height: auto;
    overflow: hidden;
    border-width: 2px;
    border-bottom-style: solid;
    border-color: rgb(0,0,0);
    border-color: rgba(0,0,0,0.8);
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

#dialog_title_bar:hover{
	background-color: rgb(114,59,53);
    background-color: rgba(114,59,53,0.9);
}

#dialog_title_bar:active{
	cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

#dialog_main_window{
	background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.9);
    width: 100%;
    height: auto;
}

#dialog_title{
	color: #FC7;
	font-size: 1.3em;
	text-align: center;
	padding: 3px 8px;
}

#dialog_content{
	text-align: center;
	padding: 8px;
}

#dialog_content a{
	color: #FC7;
}

#dialog_content a:visited{
	color: #CF9A42;
}

#dialog_content a:hover{
	color: #F7DDB2;
}

#dialog_buttons{
	text-align: center;
	padding: 6px;
}

#dialog_button_ok{
	width: 90px;
	height: 16px;
	background-color: #cbc5b5;
	border: 1px solid black;
	border-radius: 2px;
	color: black;
	margin: auto;
	cursor: pointer;
	padding: 2px;
	font-weight: bold;
}

#dialog_button_ok:hover{
	background-color: #eae7de;
}

#gw2map{
	display: none;
}

label{
	padding-left: 5px;
}

canvas{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}