@font-face {
    font-family: 'Menomonia';
    src: url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot');
    src: url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot?#iefix') format('embedded-opentype'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.woff') format('woff'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.ttf') format('truetype'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.svg#MenomoniaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, #gw2map{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 15px;
}

#hover_window{
	display: none;
    background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.8);
	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 2px;

	color: #FC7;
	padding: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	border-radius: 2px;
	white-space: nowrap;
	font-family: 'Menomonia';

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

#map_title{
	position: absolute;
	left: 50%;
	top: 5px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

#map_title_inner{
    background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.8);
	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 2px;

	padding: 5px 20px;
	z-index: 900;
	border-radius: 2px;
	position: relative;
	left: -50%;
}

#map_title_content{
	white-space: nowrap;
	font-family: 'Menomonia';
	color: #FC7;
	font-size: 1.3em;
}

#map_controls{
	width: 180px;
	background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.8);
	padding: 5px;

	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.8);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 2px;

	color: white;
	font-family: 'Menomonia';

	position: fixed;
	top: 60px;
	left: 0px;
	z-index: 900;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}
#map_controls_title{
	color: #FC7;
	font-size: 1.2em;
	white-space: nowrap;

	margin-bottom: 10px;
}

#map_controls_edit{
	position: absolute;
	top: 4px;
	right: 4px;
	display: none;

	cursor: pointer;
}

#map_controls_error{
	display: none;
	color: #C00;
	font-style: italic;
}

#dialog_window{
	position: absolute;
	width: 300px;
	height: auto;
	left: 50%;
	top: 50%;
	margin: -120px 0 0 -150px;

	color: white;
	font-family: 'Menomonia';
	z-index: 9999;
}

#dialog_title_bar{
	background-color: rgb(80,39,46);
    background-color: rgba(80,39,46,0.8);
    border: 1px black solid;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

#dialog_main_window{
	background-color: rgb(26,39,120);
    background-color: rgba(26,39,120,0.8);
    border: 1px black solid;
    border-top-style: none;
    width: 100%;
    height: auto;
}

#dialog_title{
	color: #FC7;
	font-size: 1.3em;
	text-align: center;
	padding: 3px;
}

#dialog_content{
	text-align: center;
	padding: 8px;
}

#dialog_buttons{
	text-align: center;
	padding: 6px;
}

canvas{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}