@font-face {
    font-family: 'Menomonia';
    src: url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot');
    src: url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot?#iefix') format('embedded-opentype'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.woff') format('woff'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.ttf') format('truetype'),
         url('https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.svg#MenomoniaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, #gw2map{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 15px;
}

#hover_window{
	display: none;
    background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.8);
	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 2px;

	color: #FC7;
	padding: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	border-radius: 2px;
	white-space: nowrap;
	font-family: 'Menomonia';
}

#map_title{
	position: absolute;
	left: 50%;
	top: 5px;
}

#map_title_inner{
    background-color: rgb(26,39,46);
    background-color: rgba(26,39,46,0.8);
	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.8);
	border-style: solid;
	border-width: 2px;

	padding: 5px 20px;
	z-index: 900;
	border-radius: 2px;
	position: relative;
	left: -50%;
}

#map_title_content{
	white-space: nowrap;
	font-family: 'Menomonia';
	color: #FC7;
	font-size: 1.3em;
}